* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px;
  width: 100%;
  background: #AD2624;
  text-align: center;
}

.logo img{
  width: 15%;
  height: 15%;
  margin-bottom: 30px;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
  
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.weekdays li {
  width: 20px;
  font-size: 20px;
  font-family: verdana;
  font-weight: bold;
  color: black;
}

/* Days (1-31) */
.days {
  background: #eee;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.days li {
  list-style-type: none;
  text-align: center;
  width: 14.285%;
  height: 60px;
  font-size:30px;
  color: black;



}

/* Highlight the "current" day */
.days li:hover {
  background-color: #AD2624;
  color: white
}
